<div class="container">
  <h1>Listado de Clientes</h1>
  <div class="form-group">
    <input
    type="text"
    class="forms-control"
    placeholder="Buscar"
    [(ngModel)]="filterclient"
    name="filterclient"
  />
  </div>
</div>
<div class = "container">
    <table class="table table-dark table-striped">
      <thead>
        <tr >
          <th scope="col">Nombre</th>
          <th scope="col">Nit</th>
          <th scope="col">Estado</th>
          <th scope="col">consecutivo</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let cliente of clientess | filter: filterclient">
          <th scope="row">{{cliente.nombre}}</th>
          <td>{{cliente.nit}}</td>
          <td>{{cliente.estado}}</td>
          <td >{{cliente.consecutivo}}</td>
          
        </tr>
      </tbody>
    </table>
    </div>
    